<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dis.hrsystem.repository.TestRespository">
    <select id="findUserById" resultType="com.dis.hrsystem.entity.User" parameterType="java.lang.String">
        select "userId" as userId,
               "userName" as userName,
               "age"
        from user_test
        where "userId" = #{id}
	</select>

</mapper>